/*Carga de Icons y Fonts*/
@font-face {
    font-family: 'gobold_extra1regular';
    src: url('fonts/gobold_extra1-webfont.woff2') format('woff2'),
         url('fonts/gobold_extra1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icon/icomoon.eot?dbbc5x');
  src:  url('fonts/icon/icomoon.eot?dbbc5x#iefix') format('embedded-opentype'),
    url('fonts/icon/icomoon.ttf?dbbc5x') format('truetype'),
    url('fonts/icon/icomoon.woff?dbbc5x') format('woff'),
    url('fonts/icon/icomoon.svg?dbbc5x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-net:before {
  content: "\e90f";
}
.icon-top10:before {
  content: "\e90e";
}
.icon-arroba:before {
  content: "\e90a";
}
.icon-hashtag:before {
  content: "\e90b";
}
.icon-vivo:before {
  content: "\e910";
}
.icon-versus:before {
  content: "\e911";
}
.icon-calendar:before {
  content: "\e908";
}
.icon-statistics:before {
  content: "\e90d";
}
.icon-laminita:before {
  content: "\e90c";
}
.icon-password:before {
  content: "\e909";
}
.icon-campPlay:before {
  content: "\e900";
}
.icon-download:before {
  content: "\e901";
}
.icon-login:before {
  content: "\e902";
}
.icon-profile:before {
  content: "\e903";
}
.icon-registrer:before {
  content: "\e904";
}
.icon-signOff:before {
  content: "\e905";
}
.icon-team:before {
  content: "\e906";
}
.icon-trophy:before {
  content: "\e907";
}


/*Reset Style*/
*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
body{
	font-size: 16px;
	font-family: Helvetica;
}
img{
	display: block;
	border: 0px;
	width: 100%;
}
a{
	display: table;
	text-decoration: none;
}
ul{
	list-style: none;
}
input{
	display: table;
	width: 100%;
	outline: none;
	line-height: 40px;
	border: 1px solid #F6F6F7;
	background: #F6F6F7;
  border-radius: 0.3rem;
}
input[type="submit"]{
	cursor: pointer;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'gobold_extra1regular';
}
table{
	width: 100%;
  border-collapse: collapse;
}
/*Grilla*/
.grilla{
    overflow: hidden;
    width: 95%;
    margin: auto;
}
.grilla .celda {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.grilla .celda.celdax2,
.grilla .celda.celdax3,
.grilla .celda.celdax4,
.grilla .celda.celdax5,
.grilla .celda.celdax6,
.grilla .celda.celdax10,
.grilla .celda.celdax20,
.grilla .celda.celdax30,
.grilla .celda.celdax40{
  float: left;
  margin-right: 2%;
}
.grilla .celda.celdax2:last-child,
.grilla .celda.celdax3:last-child,
.grilla .celda.celdax4:last-child,
.grilla .celda.celdax5:last-child,
.grilla .celda.celdax6:last-child,
.grilla .celda.celdax60,
.grilla .celda.celdax70,
.grilla .celda.celdax80,
.grilla .celda.celdax90{
  float: right;
  margin-right: 0%;
}
.grilla .celda.celdax2{width: 49%;}
.grilla .celda.celdax3{width: 32%;}
.grilla .celda.celdax4{width: 23.5%;}
.grilla .celda.celdax5{width: 18.4%;}
.grilla .celda.celdax6{width: 15%;}
.grilla .celda.celdax10{width: 10%;}
.grilla .celda.celdax20{width: 20%;}
.grilla .celda.celdax30{width: 30%;}
.grilla .celda.celdax40{width: 40%;}
.grilla .celda.celdax60{width: 58%;}
.grilla .celda.celdax70{width: 68%;}
.grilla .celda.celdax80{width: 78%;}
.grilla .celda.celdax90{width: 88%;}

@media screen and   (max-width: 1460px){
  .grilla .celda.celdax10{
    width: 20%;
  }
  .grilla .celda.celdax90{
    width: 78%;
  }
}
@media screen and (max-width: 1240px) {
  .sectionAlbum > .grilla .celdax20,
  .sectionAlbum > .grilla .celdax80{
     /*width: 100%;*/
  }
}
@media screen and (max-width: 1050px){
  .grilla .celda.celdax5,
  .grilla .celda.celdax6{
    width: 32%;
  }
  .grilla .celda.celdax5:nth-child(3),
  .grilla .celda.celdax6:nth-child(3){
    margin-right: 0%;
  }
  .grilla .celda.celdax5:nth-child(4){margin-left: 17%;}
  .grilla .celda.celdax5:nth-child(5){margin-right: 17%;}
}
@media screen and (max-width: 850px){
  .grilla .celda.celdax4{
    width: 49%;
  }
  .grilla .celda.celdax4:nth-child(2),
  .grilla .celda.celdax4:nth-child(3){
    margin-right: 0%;
  }
  .grilla .celda.celdax10,
  .grilla .celda.celdax20,
  .grilla .celda.celdax80,
  .grilla .celda.celdax90{
    width: 100%;
  }

}
@media screen and (max-width: 650px){
  .grilla .celda.celdax3,
  .grilla .celda.celdax5{
    width: 49%;
  }
  .grilla .celda.celdax3:nth-child(2),
  .grilla .celda.celdax5:nth-child(2),
  .grilla .celda.celdax5:nth-child(4){
    margin-right: 0%;
  }
  .grilla .celda.celdax3:last-child{margin-right: 25%;}
  .grilla .celda.celdax5:nth-child(4){margin-left: 2%;}
  .grilla .celda.celdax5:nth-child(5){margin-right: 25%;}

  .grilla .celda.celdax6{
    width: 49%;
  }
  .grilla .celda.celdax6:nth-child(2),
  .grilla .celda.celdax6:nth-child(4){
    margin-right: 0%;
  }
  .grilla .celda.celdax6:nth-child(4){margin-left: 2%;}

  .grilla .celda.celdax30,
  .grilla .celda.celdax40,
  .grilla .celda.celdax60,
  .grilla .celda.celdax70{
    width: 100%;
  }
}
@media screen and   (max-width: 480px){
  .grilla .celda.celdax2,
  .grilla .celda.celdax3,
  .grilla .celda.celdax4,
  .grilla .celda.celdax5,
  .grilla .celda.celdax6{
    width: 100%;
    float: none;
  }
  .grilla .celda.celdax3:last-child,
  .grilla .celda.celdax5:last-child{
    margin-right: 0%
  }
  .grilla .celda.celdax5:nth-child(4),
  .grilla .celda.celdax6:nth-child(4){
    margin-left: 0%;
  }
}

/*Style Inicial*/
.bgInicio{
	background: url(../img/otros/fondo.jpg) #00387A;
	background-size: 1000px;
}
.contentFlex{
	min-height: 100vh;
	display: flex;
	justify-content:center;
	align-items:center;
}
.botonUno,
.botonDos{
	border-radius: 0.3rem;
	padding: 0.5rem 1rem;
	border: 0px solid rgba(0,0,0,0.5);
	border-bottom-width: 3px;
	transition: all 0.2s;
}
.botonUno:hover,
.botonDos:hover{
	transform: scale(1.1);
}
.botonUno:active,
.botonDos:active{
	transform: scale(0.9);
}
.botonUno{
	background: #F6F6F7;
	color: #05458D;
}
.botonDos{
	background: #05458D;
	color: #fff;
	box-shadow: 0px 0px 10px rgba(81, 185, 238, 0.5);
}
.error{
	background: #F73B38;
	font-size: 0.7rem;
	color: #fff;
	padding: 0.2rem;
  margin: 0rem 0.5rem;
	display: block;
}
.tablaDatos{
  border-collapse: collapse;
  width: 100%;
  margin: 2rem 0rem;
  border: 1px solid #F1F1F1;
}
.tablaDatos th, .tablaDatos td{
  text-align: left;
  padding: 0.7rem;
  text-align: center;
}
.tablaDatos th{
  background: #747474;
  color: #FDCB24;
  font-family: 'gobold_extra1regular';
  font-size: 1rem;
  text-shadow: 1px 1px 5px #000;
  letter-spacing: 1px;
}
.tablaDatos tr:nth-child(even){background-color: #f2f2f2}
/*.tablaDatos tr:nth-child(odd){background-color: #f2f2f2}*/
.titleContent{
  background: #FDCB24;
  font-size: 1.7rem;
  padding: 0.3rem;
  border-bottom: 8px solid #8A0300;
}
.msjEmail{
  background: #17BA9C;
  margin: 0rem 0.5rem;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
}
/*============*/
/*Style Album*/
/*============*/

/*Bienvenida*/
.cajaBienvenida{
  max-width: 500px;
  text-align: center;
}
.cajaBienvenida p{
  font-size: 5rem;
  font-family: 'gobold_extra1regular';
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.6)
}
.cajaBienvenida .imgBienvenida{
  width: 300px;
  margin: 2rem auto;
}
.cajaBienvenida .btnBienvenida a{
  padding-left: 2rem;
  width: 100%;
  position: relative;
}
.cajaBienvenida .btnBienvenida a span{
  position: absolute;
  top: 6px;
  left: 4px;
  font-size: 1.6rem;
}
@media screen and (max-width: 600px){
  .cajaBienvenida p{
    font-size: 3rem;
  }
  .cajaBienvenida .imgBienvenida{
    width: 200px;
  }
  .cajaBienvenida .grilla .celdax2{
    width: 100%;
  }
}
/*Iniciar Sesion y Resgistro*/
.cajaLogin{max-width: 450px;width: 90%;}
.cajaRegistro{max-width: 600px;width: 90%;}
.cajaLogin img{
  width: 80px;
  margin: 1rem auto;
}
.cajaRegistro img{
  width:50px;
  margin: 1rem auto;
}
.cajaForm{
  background: #fff;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
}
.cajaForm .celda{
  margin-bottom: 0rem;
}
.cajaForm .form{
  padding: 2rem 1rem 0rem;
}
.cajaForm .formulario h4{
  text-align: center;
  color: #05458D;
  text-shadow:1px 1px 2px rgba(0,0,0,0.3);
  font-size: 1.5rem;
}
.cajaForm .formulario .cajaInput{
  overflow: hidden;
  position: relative;
  padding: 0 0.5rem 0.5rem 0.5rem;
}
.cajaForm .formulario [class^="icon-"]{
  width: 40px;
  height: 40px;
  position: absolute;
  background: #F5F5F6;
  color: #05458D;
  border-right: 1px solid #ccc;
  top: 1px;
  font-size: 1.1rem;
  padding: 12px 11px;
  border-radius: 3px 0 0 3px;
}

.cajaForm .formulario input{
  padding-left: 3rem;
}
.cajaForm .formulario input[type="submit"]{
  line-height: 0px;
  padding: 1rem;
  width: 150px;
  margin: 0rem auto 1rem;
}
.cajaForm .formulario input[type="checkbox"],
.cajaForm .formulario .pHabeas{
  display: inline-block;
  vertical-align: middle;
  width: 5%;
}
.cajaForm .formulario .pHabeas{
  width: 85%;
  color: #747474;
  font-size: 0.9rem;
}
.cajaForm .formulario .pHabeas a{
  display: inline-block;
  text-decoration: underline;
  color: #05458D;
  font-size: 0.8rem;
}
.cajaForm .txtForm{
  background: #F5F5F6;
  padding: 1rem;
  font-size: 0.75rem;
}
.cajaForm .txtForm a{
  color: #05458D;
  width: 150px;
  margin: 0.5rem auto 0.5rem;
  text-align: center;
}
/*Album*/
.headerAlbum, .footerAlbum{
  background: rgba(253,253,253,1);
background: -moz-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(226,226,226,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,253,253,1)), color-stop(100%, rgba(226,226,226,1)));
background: -webkit-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(226,226,226,1) 100%);
background: -o-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(226,226,226,1) 100%);
background: -ms-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(226,226,226,1) 100%);
background: linear-gradient(to bottom, rgba(253,253,253,1) 0%, rgba(226,226,226,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#e2e2e2', GradientType=0 );
box-shadow: 0 3px  #FECC1A, 0 6px #8B0100;
padding: 1rem;
}
.headerAlbum img{
  max-width: 500px;
  margin: auto;
}
.footerAlbum{
  box-shadow: 0 -3px  #FECC1A, 0 -6px #8B0100;
  text-align: center;
}
.footerAlbum p{
  margin-bottom: 1rem;
}
.footerAlbum p:first-child{
  margin-top: 1rem;
}
/*Album*/
/*panelControl*/
.panelControl{
  margin: 3rem 0rem 2rem;
  border-right: 1px solid #F5F5F6;
}
.panelControl img{
  max-width: 170px;
  margin: auto;
}
.panelControl .pNombre{
  text-align: center;
  font-family: 'gobold_extra1regular';
  font-size: 1.2rem;
  margin-top: 1rem;
}
.panelControl nav{
  margin: 1rem 1.5rem;
}
.panelControl nav ul li a{
  display: block;
  margin-bottom: 3px;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid #E2E2E2;
  color: #747474;
  transition: all 0.3s;
  position: relative;
}
.panelControl nav ul li a:hover{
  padding-left: 1.5rem;
  color: #05458D;
  border: 1px solid transparent;
}
.panelControl nav ul li a:before{
  position: absolute;
  content: "";
  display: block;
  width:0%;
  height: 2px;
  background: #05458D;
  left: 0px;
  bottom: 0px;
  transition: all 0.3s;
}
.panelControl nav ul li a:hover:before{
  width: 100%
}
.panelControl form .error{
  margin: 0rem;
}
.panelControl form .celda{
  margin-bottom: 0rem;
}
.panelControl form .formLaminita{
  position: relative;
}
.panelControl form .formLaminita [class^="icon-"]{
  position: absolute;
  top: 9px;
  left: 9px;
  background: #F5F5F6;
  border-right: 1px solid #ccc;
  color:#05458D;
  width: 40px;
  height: 40px;
  padding: 0rem 0.4rem;
  line-height: 40px;
  border-radius: 0.3rem 0 0 0.3rem;
  font-size: 1.7rem;
}
.panelControl form .formLaminita input[type="text"]{
  padding-left: 3rem; 
}
.panelControl form input[type="submit"]{
  padding: 0rem;
  max-width: 140px;
  margin: auto;
}
@media screen and (max-width: 1200px){
  .panelControl img{
    max-width: 100px;
  }
  .panelControl .pNombre{
    font-size: 0.9rem;

    font-weight: lighter;
  }
  .panelControl nav ul li a .txt_panel{
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 1075px){
  .panelControl nav ul li a{
    margin: auto;
  }
  .panelControl nav ul li a .txt_panel{
    display: none;
  }
  .panelControl nav ul li a{
    display: table;
    margin-bottom: 3px;
  }
  .panelControl nav ul li a:hover{
    padding-left: 0%;
  }
  .panelControl nav ul li a [class^="icon-"]{
    font-size: 1.5rem;
  }
  .panelControl nav ul li a:hover [class^="icon-"]{
    /*padding-left: 9%;*/
  }
}
@media screen and (max-width: 850px){
  .panelControl{
    margin-top: 0rem;
  }
  .panelControl nav ul{
    display: flex;
  }
  .panelControl nav ul li{
    flex-basis:0;
    flex-grow: 1;
    width: 100%;
  }
  .panelControl nav ul li a{
    display: block;
    margin-right: 3px;
    text-align: center;
  }
  .panelControl form .grilla .celda{
    width: 70%;
    float: left;
  }
  .panelControl form .grilla .celda:nth-child(2){
    width: 29%;
  }
}
/*Aside*/
.asideContenido{
  margin-top: 1rem;
}
.asideContenido .barraProgress{
  text-align: right;
}
@media screen and (max-width: 650px){
  .asideContenido{
    border-top: 1px solid #efefef;
  }
  .asideContenido .btnAside{
    margin: 1rem auto 0rem;
  }
}

/*Barra Progreso*/
.cajaProgressBar p{
  text-align:center;
  font-family: 'gobold_extra1regular';
  margin-bottom: 0.1rem;
  font-size: 0.9rem;
}
.progress {
    overflow: hidden;
    height: 30px;
    background-color: #89949B;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.progress .bar {
  line-height: 30px;
    width: 0%;
    height: 30px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    background-color: red;
    background-image: -moz-linear-gradient(top, #FCCA2C, #0480be);
    background-image: -ms-linear-gradient(top, #FCCA2C, #0480be);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FCCA2C), to(#0480be));
    background-image: -webkit-linear-gradient(top, #FCCA2C, #0480be);
    background-image: -o-linear-gradient(top, #FCCA2C, #0480be);
    background-image: linear-gradient(top, #FCCA2C, #0480be);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCCA2C', endColorstr='#0480be', GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -ms-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.progress-striped .bar {
    background-color: #89949B;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    -o-background-size: 40px 40px;
    background-size: 40px 40px;
}

.progress.active .bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-danger .bar {
    background-color: #89949B;
    background-image: -moz-linear-gradient(top, #89949B, #c43c35);
    background-image: -ms-linear-gradient(top, #89949B, #c43c35);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #89949B, #c43c35);
    background-image: linear-gradient(top, #89949B, #c43c35);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
}

.progress-danger.progress-striped .bar {
    background-color: #1ABC9C;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
@-webkit-keyframes progress-bar-stripes { 
    from { background-position: 0 0 }

    to { background-position: 40px 0 }
}

@-moz-keyframes progress-bar-stripes { 
    from { background-position: 0 0 }

    to { background-position: 40px 0 }
}

@keyframes progress-bar-stripes { 
    from { background-position: 0 0 }

    to { background-position: 40px 0 }
}

/*Fin barProgress*/
.contenidoAlbum{
  display: flex;
  justify-content:center;
  align-items:center;
}
.portadaAlbum img{max-width: 700px;}

/*Laminitas*/
.contenedorLaminitas{
  margin: auto;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:center;
  align-items:center;
}
.contentLaminita{
  margin: 20px;
}
.contentLaminita a{
  display: inline-block;
}
.contentLaminita:hover figure{
  transform:perspective(600px) rotateY(180deg);
  cursor: pointer;
}
.contentLaminita figure{
  width: 200px;
  margin: 0;
  position: relative;
  transition: all 0.5s;
  transform-style: preserve-3d;
  transform:perspective(600px) rotateY(0deg);
}
.contentLaminita figure .frontal,
.contentLaminita figure .trasera{
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.contentLaminita figure .frontal{
  display: block;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  border-radius: 0.5rem;
  position: relative;
}
.contentLaminita figure .trasera{
  position: absolute;
  border-radius: 0.5rem;
  top: 0px;
  padding: 1rem;
  color: #fff;
  transform:perspective(600px) rotateY(180deg);
  backface-visibility :hidden;
  overflow: auto;
  background: rgba(10, 43, 78,0.9);
  border: 3px inset #FDCB24;
  height: 100%;
}
.contentLaminita figure .trasera h3{
  text-shadow:2px 2px 2px #000;
}
.contentLaminita figure .trasera h5{
  text-align: center;
  font-size: 5rem;
  margin-top: 1.9rem;
  text-shadow:  2px 2px 20px #000;
}
.contentLaminita figure .trasera p{
  margin-top: 1rem;
  text-align: justify;
  font-size: 0.9rem;
}
.ingresoLaminita{
  margin-top: 2rem;
  text-align: center;
}
/*Perfil*/
.perfil{
  width: 100%;
}
.perfil h2{
  text-align: left;
  margin-top: 2rem;
  color: #09458C;
  font-size: 2rem;
}
.perfil ul{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.perfil li{
  display: table;
  padding: 0.5rem;
  margin-bottom: 5px;
  border-left: 2px solid #8A0300;
}
.perfil li [class^="icon-"]{
  font-size: 1.5rem;
  color: #09458C;
}
@media screen and (max-width: 1010px) {
  .perfil h2{
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 820px) {
  .perfil .grilla .celdax2{
    width: 100%;
  }
  .perfil li{
    font-size: 1rem;
  }
}
/*Cambio password*/
.cambioPass{
  width: 100%;
}
.cambioPass p{
  margin-top: 1rem;
  text-align: center;
}
.cambioPass p.error{
  margin: 0;
}
.cambioPass form{
  max-width: 300px;
  margin: 2rem auto;
}
.cambioPass form input{
  margin-bottom: 1rem;
  padding-left: 1rem;
}
.cambioPass form input[type="submit"]{
  padding: 0rem;
}
.cambioPassExito{
  background: #009C71;
  max-width: 300px;
  margin: 1rem auto;
  height: 100px;
  text-align: center;
  padding-top:40px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #000;
}
/*Premios*/
.premios{
  width: 100%;  
}
.premios [class^="icon-"]{  
  font-size: 6rem;
  color: #FDAB12;
  text-shadow: 2px 2px 2px #ccc;
}
.premios h3{
  margin-bottom: 1rem;
  margin-top: 1rem;
}
@media screen and (max-width: 600px){
  .premios tr td{
    font-size: 0.8rem;
  }
}

/*Estadisticas*/
.estadisticas{
  width: 100%;
}
.estadisticas p{
  text-align: justify;
  margin-top: 1rem;
  
}
.estadisticas td p{
  background: #737373;
  text-align: center;
  padding: 0.3rem;
  color: #fff;
}
.estadisticas input{
  width: 100%;
}
.estadisticas a, 
.estadisticas input[type="submit"]{
  background: #F5F5F6;
  color: #747474;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0rem 0.5rem 0rem 3rem;
  line-height: 40px;
  position: relative;
  width: 230px;
  border-radius: 0.3rem;
  text-align: center;
  box-shadow: 2px 2px 5px #ccc;
  cursor: pointer;
  transition: all 0.3s;
}
.estadisticas a:hover, 
.estadisticas input[type="submit"]:hover{
  transform: scale(1.05);
  color: #05458D;
}
.estadisticas a:active, 
.estadisticas input[type="submit"]:active{
  transform: scale(0.9);
  color: #05458D;
}
.estadisticas td{
  position: relative;
}
.estadisticas a span,
.estadisticas td span{
  position: absolute;
  background: #F5F5F6;
  border-right: 1px solid #747474;
  
  width: 40px;
  height: 40px;
  border-radius: 0.3rem 0 0 0.3rem;
  padding: 0.65rem 0.45rem;
  font-size: 1.5rem;
}
.estadisticas a span{
  top: 0;
  left: 0;
}
.estadisticas td span{
  top: 45px;
  left: 11px;
  z-index: 1;
}
.estadisticas form{
  margin-top: 2rem;
}
.estadisticas .botonDos{
  padding: 0rem;
}
@media screen and (max-width: 1124px){

  .estadisticas tr th:nth-child(3),
  .estadisticas tr th:nth-child(4),
  .estadisticas tr td:nth-child(3),
  .estadisticas tr td:nth-child(4){
    display: none;
    background: red;
  }
  .estadisticas tr td{
    font-size: 0.8rem;
  }
  .estadisticas tr:first-child{
    display: none;
  }
}
/*Equipos*/
.equipos{
  width: 100%;
}
.equipos h3{
  margin-bottom: 2rem;
}
.equipos .listadoEquipos .grilla .celda{
  margin-bottom: 0.5rem;
}
.equipos .listadoEquipos a{
  background: url(../img/otros/fondo.jpg);
  background-repeat: no-repeat;
  display: block;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  font-size: 0.8rem;
  color: #fff;
  cursor: pointer;
  border: 0px solid rgba(0,0,0,0.5);
  border-bottom-width: 3px;
  text-align: center;
  border-radius: 0.2rem;
  transition:all 0.3s;
  position: relative;
}
.equipos .listadoEquipos a:hover{
  transform: scale(1.05);
}
.equipos .listadoEquipos a:active{
  transform: scale(0.9);
}
.equipos .listadoEquipos a.active{
  background: #8A0300;
}

.equipos .listadoEquipos a span{
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 1.5rem;
}
.equipos .imgEquipo img{
  max-width: 500px;
  margin: auto;
}
@media screen  and (max-width: 1340px){
  .equipos .listadoEquipos a{
    font-size: 0.7rem;
  }
  .equipos .listadoEquipos a span{
    font-size: 1rem;
    top: 7px;
  }
}
@media screen  and (max-width: 980px){
  .equipos .grilla .celdax40,
  .equipos .grilla .celdax60{
    width: 100%;
  }
  .equipos .listadoEquipos a{
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 650px){
  .equipos .grilla .celda.celdax3{
    width: 32%;
    margin-right: 2%;
  }
  .equipos .grilla .celda.celdax3:last-child{
    margin-right: 0;
  }
}
@media screen and (max-width: 480px){
  .equipos .grilla .celda.celdax3{
      float: left;
    }
}
/*Asi va el mundial*/
.asiVaElMundial{
  width: 100%;
}
.asiVaElMundial .grilla{
  width: 100%;
}
.asiVaElMundial .wrap{
  margin-top: 2rem;
}
.asiVaElMundial .wrap .tabs{
  width: 100%;
  background: #737373;
  display: flex;
}
.asiVaElMundial .wrap .tabs li{
  flex-basis:0;
  flex-grow: 1;
}
.asiVaElMundial .wrap .tabs li a{
  color: #FCCA2C;
  display: block;
  padding: 1rem;
  text-align: center;
  text-shadow: 2px 2px 2px #000;
  font-family: 'gobold_extra1regular';
}
.asiVaElMundial .wrap .tabs li .tab_text{
  margin-left: 8px;
}
.asiVaElMundial .wrap .tabs li a.active{
  background: #890300;
  color: #fff;
}

.asiVaElMundial .tabs_container article{
  padding: 1rem;
}
.asiVaElMundial .tabs_container article h2{
  color: #890300;
  margin-bottom: 1rem;
}
.asiVaElMundial .tabs_container article p{
  text-align: justify;
}
.asiVaElMundial .tabs_container article img{
  max-width: 700px;
  margin: auto;
}
.asiVaElMundial .tabs_container article iframe{
  width: 100%;
  height: 500px;
}
#tab1{
  position: relative;
}
#tab1 .t_convenciones{
  position: absolute;
  top: 10px;
  right: 0px;
  width: 170px;
  border: 1px solid #ccc;
}
#tab1 .t_convenciones th{
  background: #FCCA2C;
  border-right: 2px solid #870300;
}
#tab1 .t_convenciones th, 
#tab1 .t_convenciones td{
  padding: 0.2rem 0.5rem;
  font-size: 0.7rem;
} 
@media screen  and (max-width: 720px){
  .asiVaElMundial .wrap .tabs li{
    width: none;
    flex-basis:0;
    flex-grow: 1;
  }
  .asiVaElMundial .wrap .tabs li a{
    padding: 0.7rem;
    font-size: 1.5rem;
  }
  .asiVaElMundial .wrap .tabs li a .tab_text{
    display: none;
  }
}

/*Paginacion Laminitas*/
.paginacionLaminitas {
  text-align: center;
}
.paginacionLaminitas a{
  display: inline-block;
}
.paginacionLaminitas a.botonDos,
.paginacionLaminitas span{
  font-size: 0.8rem;
  margin-left: 0rem;
  margin-bottom: 0.3rem;
  padding: 0.5rem;
}
.paginacionLaminitas span{
  background: #51B8F0;
  border-radius: 0.3rem;
  border: 0px solid rgba(0,0,0,0.5);
  border-bottom-width: 3px;
  color: #fff;
}
/*Error Adición Laminita*/
.errorLaminita{
  background: #F63B38;
  max-width: 500px;
  width: 90%;
  padding: 5rem 1rem;
  text-align: center;
  color: #fff;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.7)
}
/*Tabla Posiciones*/
.tablaPosiciones{
  margin-top: 0rem;
}
.tablaPosiciones tr th{
  background: #880300;
  color:#fff;
  border-bottom: 2px solid #FCCA2C;
}
.tablaPosiciones tr th,
.tablaPosiciones tr td{
  font-size: 0.8rem;
  padding: 0.5rem;
}
/*Resultados x Fechas*/
.tablaPosiciones .botonDos{
  padding: 0.3rem;
  line-height: 20px;
}
.tablaPosiciones input[type="text"]{
  padding: 0.3rem;
  text-align: center;
  outline: none;
  width: 30px;
  height: 30px;
  margin: auto;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0rem;
}
.tablaPosiciones input[type="submit"]{
  width: 100px;
  margin: auto;
}